<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <link th:href="@{/css/toplevel.css}" rel="stylesheet" type="text/css">
    <title th:text="#{messages.application.title}"/>
  </head>
  <body>
    <div class="margin">
      <h3 th:text="#{messages.application.title}"/>

      <form th:action="@{/changepass}" method="post">
        <table>
          <tr><td><label th:text="#{messages.admin.changepass.changepass}"/></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td><label th:text="#{messages.admin.changepass.oldpass}"/></td><td>&nbsp;</td><td><input type="password" name="oldpassword"/></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td><label th:text="#{messages.admin.changepass.newpass}"/></td><td>&nbsp;</td><td><input type="password" name="newpassword"/></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td><label th:text="#{messages.admin.changepass.retype}"/></td><td>&nbsp;</td><td><input type="password" name="retypepassword"/></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td><input type="submit" value="" th:attr="value=#{messages.admin.changepass.submit}"/></td></tr>
        </table>
      </form>
    </div>
  </body>
</html>