<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <link th:href="@{/css/toplevel.css}" rel="stylesheet" type="text/css">
    <title th:text="#{messages.application.title}"/>
  </head>
  <body>
    <div class="margin">
      <h3 th:text="#{messages.application.title}"/>


      <table>
        <tr><td>&nbsp;</td></tr>
        <tr><td th:text="#{messages.admin.changepass.preamble}"></td></tr>
        <tr><td>&nbsp;</td></tr>
        <div th:if="${errorFlag}">
          <tr><td><label th:text="${newPassError}"/></td></tr>
          <tr><td>&nbsp;</td></tr>
        </div>
      </table>

      <form th:action="@{/changepassword}" th:object="${changePasswordForm}" method="post">
        <table>
          <tr><td><label th:text="#{messages.admin.changepass.changepass}"/></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td><label th:text="#{messages.admin.changepass.oldpass}"/></td><td>&nbsp;</td><td><input type="password" id="olpassword" name="oldpassword" th:field="*{oldPassword}"/></td>
            <div th:if="${#fields.hasErrors('oldPassword')}">
              <td>&nbsp;</td>
              <td th:errors="*{oldPassword}">Old Password Error</td>
            </div>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td><label th:text="#{messages.admin.changepass.newpass}"/></td><td>&nbsp;</td><td><input type="password" id="newpassword" name="newpassword" th:field="*{newPassword}"/></td>
            <div th:if="${#fields.hasErrors('newPassword')}">
              <td>&nbsp;</td>
              <td th:errors="*{newPassword}">New Password Error</td>
            </div>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td><label th:text="#{messages.admin.changepass.retype}"/></td><td>&nbsp;</td><td><input type="password" id="retypepassword" name="retypepassword" th:field="*{retypeNewPassword}"/></td>
            <div th:if="${#fields.hasErrors('retypeNewPassword')}">
              <td>&nbsp;</td>
              <td th:errors="*{retypeNewPassword}">Retpe Password Error</td>
            </div>
          </tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td><input type="submit" value="" th:attr="value=#{messages.admin.changepass.submit}"/></td></tr>
        </table>
      </form>
    </div>
  </body>
</html>